<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Мой выбор</title>
        <meta name="keywords" content="идеи для подарка, не знаю что подарить, что подарить">
        <meta name="description" content="Ваш помощник в выборке подарка">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        <script src="~/dist/vendor.js" asp-append-version="true"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
